<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="server=localhost;Port=3306;database=rlts;Uid=root;Pwd=root;Convert Zero Datetime=True;Allow Zero Datetime=true;" providerName="MySql.Data.MySqlClient"  />-->
    <!--<add name="DefaultConnection" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=a8platformdb16thjan" providerName="MySql.Data.MySqlClient" />-->
    <add name="DefaultConnection" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=a8platformdbloc" providerName="MySql.Data.MySqlClient" />


  </connectionStrings>
  <appSettings>
    <add key="Version" value="1.0" />
    <add key="FatiNotificationServerUrl" value="tcp://10.38.129.170:5560" />
    <add key="TopicName" value="device"/>
    <add key="AreaNames" value="BGEO-15,nan,BGEO-14,BGEO-13,BGEO-12,BGEO-9,BGEO-2,BGEO-8,BGEO-5,BGEO-3,BGEO-1,BGEO-4,BGEO-10,"/>
    

    <add key="SiteId" value="1" />
    <add key="MermberShipApplication" value="http://localhost:58203/RealTimeLocation/TestMemeberApplication"/>
    
    <add key="MINCheckConsecutiveShownDiffInSeconds" value="5"/>
    <add key="MAXCheckConsecutiveShownDiffInSeconds" value="15"/>
    <add key="constSkipNotificationForSeconds" value="40"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>